.places{
    margin:0 auto;
}
.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title artist"
        "image paragraph"
        "button paragraph";
    column-gap: 40px;
    margin: 0 148px;
}
.places__ucrania{
    margin-bottom: 80px;
}
.places__gales{
    margin-bottom: 31px;
}
.places__estadosunidos{
    margin-bottom: 80px;
}
.places__burundi{
    margin-bottom: 51px;
}
.places__mexico{
    margin-bottom: 92px;
}
.place__title{
    grid-area: title;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color:#FFF;
    margin: 0;
}
.place__image{
    grid-area: image;
    width: 100%;
    margin: 48px 0;
}
.place__button-frame{
    grid-area: button;
    max-width: 355px;
    max-height: 48px;
    border-radius: 3px;
    background:#0278FE;
    display: flex;
    align-items: center;
    margin-top: 48px;
    transition: background-color 0.5s ease;
}
.place__button{
    grid-area: button;
    max-width: 355px;
    max-height: 24px;
    border-radius: 5px;
    padding: 13px 20px;
    background-color: #0278FE;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 600;
    transition: background-color 0.5s ease;
}
.place__button:hover{
    background: #0063D2;
}
.place__artist{
    grid-area: artist;
    align-self: flex-end;
}
.place__artist-item{
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
    color: #AAA;
    margin-bottom: 8px;
}
.place__artist-item__name{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color:#FFF;
    margin: 0;
}
.place__paragraph{
    grid-area: paragraph;
    margin-top: 48px;
    max-width: 448px;
    font-size: 18px;
    line-height: 29.34px;
    color:#FFF;
}
.place__paragraph-item{
    margin: 0;
}
.place__paragraph-item-ucrania{
    margin-bottom: 25px;
}
.place__paragraph-item-gales{
    margin-bottom: 56px;
}
.place__paragraph-item-estadosunidos{
    margin-bottom: 17px;
}
.place__paragraph-item-burundi{
    margin-bottom: 25px;
}
.place__paragraph-item-mexico{
    margin-bottom: 25px;
}

@media screen and (max-width: 1024px){
    .place{
      margin: 0 50px;
    }  
    .place__button{
      max-height: 30px;
      line-height: 18px;
    }
}

@media screen and (max-width: 768px){
    .places{
        padding-bottom: 92px;
    }
    .place{
        margin-left: 24px;
        margin-right: 24px;
        grid-template-rows: 92px 340px 1fr;
        row-gap: 48px;
    }
    .place__title{
        font-size: 42px;
        line-height: 46px;
        align-self: flex-end;
    } 
    .place__paragraph{
        margin: 0;
        font-size: 16px;
    }
    .place__image{
        margin: 0;
    }
    .place__button{
        max-width: 315px;
        padding: 13px 10px;
        line-height: 18px;
    }
    .place__ucrania{
        margin-bottom: 31px;
    }
    .place__gales{
        margin-bottom: 46px;
    }
    .place__estadosunidos{
        margin-bottom: 25px;
    }
    .place__burundi{
        margin-bottom: 41px;
    }
    .place__paragraph-item__ucrania{
        margin-bottom: 14px;
    }
    .place__paragraph-item__gales{
        margin-bottom: 25px;
    }
    .place__paragraph-item__estadosunidos{
        margin-bottom: 20px;
    }
    .place__paragraph-item__burundi{
        margin-bottom: 11px;
    }
    .place__paragraph-item__mexico{
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 544px){
    .place{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .place__title,
    .place__artist,
    .place__image{
        align-self: flex-start;
        margin-bottom: 20px;
    }
    .place__button-frame{
        margin-top: 15px;
    }
}
      
@media screen and (max-width: 320px){
    .places{
        padding-bottom: 64px;
    }
    .place{
        margin: 0;
    }
    .place__title{
        align-self: flex-start;
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 30px;
    }
    .place__artist{
        margin-bottom: 30px;
        align-self: flex-start;
    }
    .place__title,
    .place__artist,
    .place__paragraph,
    .place__button{
        padding-left: 16px;
        padding-right: 16px;
    }
    .places__ucrania{
        margin-bottom: 16px;
    }
    .places__gales{
        margin-bottom: 36px;
    }
    .places__estadosunidos{
        margin-bottom: 17px;
    }
    .places__burundi{
        margin-bottom: 50px;
    }
    .place__paragraph-item__ucrania{
        margin-bottom: 7px;
    }
    .place__paragraph-item__gales{
        margin-bottom: 10px;
    }
    .place__paragraph-item__estadosunidos{
        margin-bottom: 0;
    }
    .place__paragraph-item__burundi{
        margin-bottom: 25px;
    }
    .place__paragraph-item__mexico{
        margin-bottom: 25px;
    }
    .place__button{
        max-width: 288px;
        max-height: 48px;
        margin: auto;
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
    }
}